<launch>
    
    <arg name="port" default="/dev/ttyUSB0"/> 

    <!-- Launch nodes -->

    <!-- Start ros-kortex driver -->
    <include file="$(find kortex_driver)/launch/kortex_driver.launch">
        <arg name="gripper" value="robotiq_2f_85"/>
        <arg name="ip_address" value="192.168.43.108"/>
        <arg name="default_goal_time_tolerance" value="0"/>
    </include>

    <include file="$(find openni_launch)/launch/openni.launch"/>

    <include file="$(find cob_people_detection)/ros/launch/people_detection.launch">
        <arg name="using_nodelets" value="true"/>
    </include> 
 
    <node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" output="screen">
     <param name="_port" value="$(arg port)"/>
    </node>
    <node name="kinect_aux" pkg="kinect_aux" type="kinect_aux_node" output="screen"/>
    <node name="id_verification" pkg="id_verification" type="ID_detection.py" output="screen"/> -->
    <node pkg="nao_scripts" type="nao.py" name="nao_scripts"/>
    <node name="obj_dt" pkg="obj_dt" type="obj_dt.py" output="screen"/>
    <node name="kinova_nav" pkg="kinova_nav" type="navigate.py" ns="my_gen3" output="screen"/>

</launch>
 